

<ion-view title="
    <i class='icon ion-compose'></i>  Votre itineraire">
    <ion-content class="has-header has-footer padding">
        <h1><i class="icon ion-calendar"></i> Laissez nous votre itineraire !</h1>

        <row>
            <div class="col">
                <h5>
                    Dans le cadre de la preventions de tout accident, nous vous proposons un nouveau services disponible a n'importe quels moment et sans contrainte.
                    </br> Vous sortez en hors pistes cliquez sur le bouton suivant pour nous envoyer un mail avec la descriptions de votre sortie. Nous serons ainsi informé.
        </row>
        </<div>

            <row>
                <div class="col">
                    <button class="button button-positive" style="margin-top: 20px">
                        envoyer un mail
                    </button>
                    </<div>
            </row>

    </ion-content>
</ion-view>