<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
      <h1 class="title" translate>Contact us !</h1>
      <div class="button button-clear" ng-click="closeModal(1)"><span class="icon ion-close"></span></div>
    </ion-header-bar>
    <ion-content >
      

        <h1 class="padding" translate>Any idea ?</h1>
        <p class="padding" translate>Send us your wish or your idea. Complete the form below.</p>


        <form method="post" class="form" name="log" id="log" novalidate ng-show="!isSendMessageDone">
            <div class="form-group">
                <label class="item item-input">
                    <textarea placeholder="message" style="height:100px!important" ng-model="data.message" required></textarea>
                </label>
            </div>
            <button class="button button-full button-positive" ng-click="sendUserMessage()" ng-disabled="log.$invalid">
                <p translate>Send</p>
            </button>
        </form>

        

        <div class="card" ng-show="isSendMessageDone">
            <div class="item item-text-wrap">
                <p translate>Thank you.</p>
            </div>
        </div>

        <h5 class="padding" style="padding-top: 30px; text-align:center">&copy; Numericgraphics 2015 - Version : 1.1.7 </h5>

    </ion-content>
  </ion-modal-view>