<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title" translate>Advertising</h1>
      <div class="button button-clear" ng-click="closeModal(3)"><span class="icon ion-close"></span></div>
    </ion-header-bar>
    <ion-content >
      <h3 class="title padding"></h3>
        <h1 class="padding" translate>Advertising space for you !</h1>
        <p class="padding" translate>You looking for visibility for your projects ? We offer you several solutions through our applications. Contact us by clicking on the logo at the bottom of the application, thank you.</p>


    </ion-content>
  </ion-modal-view>