

<ion-view>

    <ion-nav-title>
        <i class='icon ion-pricetag'></i>
    </ion-nav-title>
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios-arrow-back" ui-sref="home"></button>
    </ion-nav-buttons>




    <ion-content class="has-header has-footer padding">
        <h1 translate><i class="icon ion-pricetag"></i> Online Ski pass</h1>

        <div class="card slideContentLeft">
            <div class="item item-text-wrap">
                <h2 translate>Step 1 :</h2>
                <p translate>Buy a prepaid card (1.50 euros). You can find them either at the ski lifts office or in the Tourist Office of Sainte Foy Tarentaise.</p>
                <h2 translate>Step 2 :</h2>
                <p translate>Go to the online payment website (linked below) with your prepaid card in hand and buy a ski pass. Your prepaid card will be updated instantly.</p>
                <h2 translate>Step 3 :</h2>
                <p translate>Now you can use the ski lifts and enjoy the peaks. good skiing !</p>
            </div>
        </div>

        <button class="button button-full button-positive" ng-click="gotoPaymentWebsite()">
            <p translate>Online Payment website</p>
        </button>


</ion-content>
</ion-view>